In [2]:
import pandas as pd
import numpy as np

In [3]:
df=pd.DataFrame({
    'A':[1,2,3,4,5,6,100],
    'B':[10,20,30,40,50,60,700],
    'C':[100,200,300,400,500,600,7000]})
df

     A    B     C
0    1   10   100
1    2   20   200
2    3   30   300
3    4   40   400
4    5   50   500
5    6   60   600
6  100  700  7000

In [19]:
import pandas as pd

df = pd.DataFrame({
    'A': [1, 2, 3, 4, 5, 6, 100],
    'B': [10, 20, 30, 40, 50, 60, 700],
    'C': [100, 200, 300, 400, 500, 600, 7000]
})

threshold = 0.95

# Compute lower and upper quantile bounds
lower_bound = df.quantile(1 - threshold)
upper_bound = df.quantile(threshold)

# Keep only rows where all values are within the bounds
df_cleaned = df[(df >= lower_bound) & (df <= upper_bound)].all(axis=1)

# Apply the mask to filter the DataFrame
df_cleaned = df[df_cleaned]

print(df_cleaned)

df

     A    B     C
0    1   10   100
1    2   20   200
2    3   30   300
3    4   40   400
4    5   50   500
5    6   60   600
6  100  700  7000

     A    B     C
0    1   10   100
1    2   20   200
2    3   30   300
3    4   40   400
4    5   50   500
5    6   60   600
6  100  700  7000